      <!-- <html>
      <head>

        <title><%= title %></title>
      </head>
      <body>
        <%- include ('_header')  %> -->
        <link rel="stylesheet" href="/css/user_profile.css"> 
        <h1>
              Codeial/ Profile Page
        </h1>
        <!-- <%- include ('_footer') %>
      </body>
      </html> -->














      </html>