#header-container {
  display: flex;
  flex-direction: row; }

#header-links {
  display: flex;
  flex-direction: row;
  margin-left: 50%;
  font-size: 15px;
  justify-content: space-around;
  color: #4444c2;
  font-family: cursive; }

#header-text {
  color: #0a0a63;
  font-family: cursive;
  margin-left: 2%;
  transition: 0.5s ease-in-out; }

#header-text:hover {
  color: mediumorchid;
  font-size: 27px;
  margin-left: 3%; }
