#header-container{
  display: flex;
  flex-direction: row;
}
#header-links{
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    font-size: 15px;
    justify-content: space-around;
}
#header-text:hover{
    color: mediumorchid;
}