#home-container
{
    display : flex;
    
    #feed-posts{
    width:70%;
    padding : 10px;
    }
    #user-friends{
    width : 30%;
    padding: 10px;
    border-left: 1px solid grey;
    height: 100%;
    }

}
#post-heading{
    font-family: cursive;
    line-height: 30px;
    font-weight:bolder;
    font-size: large;
}
#post-form-block{
    padding-bottom: 5px;
}
#post-sbt{
    border-radius: 5px;
    height: 27px;
    width:65px;
    font-family: cursive;
    background-image: linear-gradient(to top right, cyan, limegreen);
    }
#new-post-form textarea{
    border-radius: 5px;

}    
  